name: Self-Sign MSIX Package

on: [push, pull_request]

jobs:
  self-sign-msix:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install winget and wingetcreate
        uses: Cyberboss/install-winget@v1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          wget_release_id: latest

      - name: Install missing dependency for winget
        run: |
          Invoke-WebRequest -Uri https://aka.ms/Microsoft.VCLibs.x64.14.00.UWPDesktop -OutFile VCLibs.appx
          Add-AppxPackage .\VCLibs.appx
        shell: pwsh

      - name: Install MSIX Hero and wingetcreate
        run: |
          winget install msixhero --silent --accept-source-agreements --accept-package-agreements
          winget install wingetcreate --disable-interactivity --accept-source-agreements
        shell: pwsh

      - name: Generate Self-Signed Certificate
        run: |
          $certPath = "selfsign.pfx"
          $password = "selfsignpassword"
          
          "C:\Program Files\MSIX Hero\msixhero.exe" cert-new `
            --name "MySelfSignedCert" `
            --out "$certPath" `
            --password "$password"
        shell: pwsh

      - name: Self-Sign MSIX Package
        run: |
          $certPath = "selfsign.pfx"
          $password = "selfsignpassword"
          $msixFile = "./sdl-min_1.0.0.0_x64.msix"
          
          "C:\Program Files\MSIX Hero\msixhero.exe" sign `
            --file "$msixFile" `
            --cert "$certPath" `
            --cert-password "$password"
        shell: pwsh

      - name: Archive and Upload Signed MSIX
        uses: actions/upload-artifact@v4
        with:
          name: Signed-MSIX
          path: ./sdl-min_1.0.0.0_x64.msix
